
header a { text-decoration: none; }
header a:hover { text-decoration: underline; }

body nav,body main {

	width: 75%;
	min-width: 600px;
	margin-left: 150px;
	display: block;
}

/* body main ul li {font-size: 1.5em; } */


footer { border-top: 1px solid #d5d5d5; font-size: 1em; background: lightgray}


nav ul li, footer ul li { display: inline; margin-right: 20px; }

nav ul, footer ul { font-size: 1em; font-family:  'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }


/* div class="content" in index.html */
/* div.content ul li{ font-size: 1.5em; } */
div.content h1{display: none}


.search-icon {
	display: inline-block;
	height: 20px;
	width:20px;
}

#search-outer {
	width: 600px;
	margin: 0 0 10px 0;
  }
  
#search-box {
	margin: 0;
	width: 400px;
	font-size: 20px;
	padding: 5px;
	border: 1px solid #EEEEEE;
  }
  
#search-submit {
	margin: 0;
	font-size: large;
	padding: 5px;
	border: 1px solid #EEEEEE;
  }

#search-results {
	list-style-type: none;
	padding: 0%

}

#search-results li {
	background: #cce5ff;
  }
