---
layout: default
title: 对刘谈心-liuning0820.github.io
---

　　<h2>I’m a programmer from SHANGHAI CHINA.</h2>
　　<h3>Recent Articles:</h3>


	<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<p class="author">
	<span class="date">{{ post.date | date_to_string   }}</span>
</p>
<div class="content">
	{{ post.content }}
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination" role="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
          {% endif %}
        {% endif %}

        <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>

        {% if paginator.next_page %}
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
        {% endif %}
</div>

