<div>
    <ul>
        <li><a href="mailto:liuning0820@outlook.com">Email</a></li>
        <li><a href="https://github.com/liuning0820">GitHub</a></li>
        <li><a href="https://space.bilibili.com/346937744">B站</a></li>
    </ul>

    <p>
        Help me to make this site awesome:
        {% if paginator.previous_page %}
        <a href="{{site.github.repository_url}}/edit/master/{{page.name}}"> edit this page</a>,
        {% else %}
        <a href="{{site.github.repository_url}}/edit/master/{{page.path}}"> edit this page</a>,
        {% endif %}

        <a href="{{site.github.repository_url}}/issues/new?labels=bug"> report an issue</a>
    </p>

</div>



