<div>
    <ul>
        <li><a href="mailto:liuning0820@outlook.com">Email</a></li>
        <li><a href="https://github.com/liuning0820">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/toby-liu-86750923/">Linkedin</a></li>
    </ul>

    <p>
        Help me to make this site awesome:
        <a href="{{site.github.repository_url}}/edit/master/{{page.path}}"> edit this page</a>,
        <a href="{{site.github.repository_url}}/issues/new?labels=bug"> report an issue</a>
    </p>

</div>

