<div>

	<a class="github-fork-ribbon fixed" title="Contribute on GitHub"
		href="https://github.com/liuning0820/liuning0820.github.io">Fork me on GitHub</a>

	<nav class="drop-down">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/all.html">Blogs</a></li>
			<li><a href="/workforfree">Blogs++</a></li>
			<li><a href="/ex_presentations/index.html">Presentations</a></li>
			<li><a href="/workforfree/podcasts">Podcasts</a></li>
			<li class="drop-down"><a href="#">Apps</a>
				<ul>
				  <li>
					<a href="/react-todo/">React ToDo App</a>
				  </li>
				  <li>
					<a href="/workforfree/personal-bookmark.html">Bookmarks</a>
				  </li>
				</ul>
			</li>
			<li><a href="/about">About</a></li>
			<li><a href="/feed.xml"><abbr title="Really Simple Syndication">RSS</abbr> Feed</a></li>



			<li>
				{% if site.search == true %}
					<!-- <a href="{{ site.url }}{{site.baseurl}}/search.html">
						<svg class="search-icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
						<path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
						</svg>
					</a> -->

					<form action="/search.html" method="get">
						<input type="text" id="search-box" name="query">
						<!-- <input type="submit" id= search-submit value="search"> -->
						<button type="submit" id= search-submit>Search</button>
					</form>
				{% endif %}

			</li>
		</ul>
	</nav>

</div>