<!DOCTYPE html>
<html>

<head>
	　
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!-- Bing 网站管理员 BingWebmasterTools -->
	<meta name="msvalidate.01" content="CC5AB97F09B3CAD127831C826A544FFF" />
	<title>{{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.url }}{{site.baseurl}}/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}{{site.baseurl}}/css/gh-fork-ribbon.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | relative_url}}" />
	<link rel="stylesheet" type="text/css" href="{{ "/css/gh-fork-ribbon.css" | relative_url}}" /> -->
</head>




<body>

	<header>
			{% include header.html %}
	</header>

	<main>
		<div class="tags">{% include tags.html %}</div>
	<div class="main">
		　{{content | remove: '<p>&lt;! –more– &gt;</p>' }}
	</div>

</main>

	<div class="wechat-donate">
		<div><em>If you like what I am sharing, feel free to give me a cup of coffee.</em></div>

		<button id="rewardButton" , disable="enable" ,
			onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}"
			,
			style="cursor: pointer; border: 0; outline: 0; border-radius: 100%; padding: 0; margin: 10px; letter-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none">
			<span onmouseover="this.style.color='rgb(236,96,0)';this.style.background='rgb(204,204,204)'"
				onMouseOut="this.style.color='#fff';this.style.background='rgb(236,96,0)'"
				style="display: inline-block; width: 70px; height: 70px; border-radius: 100%; line-height: 81px; color: #fff; font: 400 35px/75px 'microsofty'; background: rgb(236,96,0)">赏</span>
		</button>


		<div id="QR" style="display: none;">

			<!-- https://localhost:4000/liuning0820.github.io/images/donate/weixin.JPG -->
			<!-- https://liuning0820.github.io/liuning0820.github.io/images/donate/weixin.JPG -->
			<div id="wechat" style="display: inline-block">
				<img id="wechat_qr" src="{{ site.url }}{{site.baseurl}}/images/donate/weixin.jpg" alt=" WeChat Pay"
					style="width: 200px; max-width: 100%; display: inline-block" />
				<p>微信打赏</p>
			</div>

			<!-- <div id="alipay" style="display: inline-block">
			  <img id="alipay_qr" src="/images/donate/zhifubao.JPG" alt="Alipay" style="width: 200px; max-width: 100%; display: inline-block"/>
			  <p>支付宝打赏</p>
			</div> -->

		</div>
	</div>


	{% if page.comments %}
		{% include comments.html %}
	{% endif %}

	<footer>
		{% include footer.html %}
	</footer>

	<!-- _includes/analytics.html -->
	{% include analytics.html %}

</body>

</html>