<!DOCTYPE html>
<html>
{% include head.html %}

<body>

	<a class="github-fork-ribbon fixed" title="Contribute on GitHub"
		href="https://github.com/liuning0820/liuning0820.github.io">Fork me on GitHub</a>

	<nav>
		<ul>
			<li><a href="{{ site.url }}{{site.baseurl}}/">Home</a></li>
			<li><a href="{{ site.url }}{{site.baseurl}}/about">About</a></li>
			<li><a href="{{ site.url }}{{site.baseurl}}/">Blog</a></li>
			<li><a href="{{ site.url }}{{site.baseurl}}/feed.xml">RSS Feed</a></li>
		</ul>
	</nav>

	<main>
		　{{content }}
	</main>

	<div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center">
		<div>坚持原创技术分享，您的支持将鼓励我继续创作！</div>
		<button id="rewardButton" , disable="enable" ,
			onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}"
			,
			style="cursor: pointer; border: 0; outline: 0; border-radius: 100%; padding: 0; margin: 0; letter-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none">
			<span onmouseover="this.style.color='rgb(236,96,0)';this.style.background='rgb(204,204,204)'"
				onMouseOut="this.style.color='#fff';this.style.background='rgb(236,96,0)'"
				style="display: inline-block; width: 70px; height: 70px; border-radius: 100%; line-height: 81px; color: #fff; font: 400 35px/75px 'microsofty'; background: rgb(236,96,0)">赏</span>
		</button>

		<div id="QR" style="display: none;">

			<!-- https://localhost:4000/liuning0820.github.io/images/donate/weixin.JPG -->
			<!-- https://liuning0820.github.io/liuning0820.github.io/images/donate/weixin.JPG -->
			<div id="wechat" style="display: inline-block">
				<img id="wechat_qr" src="{{ site.url }}{{site.baseurl}}/images/donate/weixin.jpg" alt=" WeChat Pay"
					style="width: 200px; max-width: 100%; display: inline-block" />
				<p>微信打赏</p>
			</div>

			<!-- <div id="alipay" style="display: inline-block">
			  <img id="alipay_qr" src="/images/donate/zhifubao.JPG" alt="Alipay" style="width: 200px; max-width: 100%; display: inline-block"/>
			  <p>支付宝打赏</p>
			</div> -->

		</div>
	</div>

	<footer>
		{% include footer.html %}
	</footer>

</body>

</html>